@{
    ViewData["Title"] = "Home Page";
}

<center>

    <h1>
        I am Amaechi
    </h1><br><br><br>
    <h5>
        Find Your current Distance form any place Just by <thead> Target locations GoogleMap GoogleMap URL</thead>
    </h5><br><br><br>
    <div>
        <form method="post" id="form">
            <label for="other">Target Location GoogleMap URL</label><br><br>
            <input type="text" id="other" name="TargetLocationURL" placeholder="Target Location GoogleMap url" required>
            <br><br>
            <button type="submit">submit</button>
        </form>
    </div>
    <br>
    <div id="reply">

    </div>

</center>
