@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<p>
    I am amaechi here to change this up
</p>
<div>
    <form action="/api/location/" method="post" id="form">
    <label for="user"> User Location URL</label>
    <input type="text" name="UserLocationURL" placeholder="Your current GoogleMap location url" required><br><br>
    <input type="text" name="TargetLocationURL" placeholder="Target Location GoogleMap url" required>
    <button type="submit">submit</button>
    </form>
</div>

